#modal-overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--modal-overlay-color);
}
#modal-overlay.modal-open {
  display: flex;
}


#game-result-modal {
  display: flex;
  grid-row-gap: 1vmin;
  flex-flow:column;
  --modal-items-border-radius: 1vmin;
  align-items: center;
}

#image-container {
  display: flex;
  width: 75vmin;
  height: 76vmin;
  align-items: center;
  justify-content: center;
  padding-top: 1vmin;
}

#result-container {
  display: flex;
  align-items: flex-end;
}

#winner-container {
  margin-bottom: 4vmin;
  width: 30vmin;
  height: 8vmin;
  font-size: var(--main-title-font-size);
  font-weight: bold;
  color: var(--primary-color);
  background: var(--accent-color);
  border: var(--default-accent-border);
  box-shadow: var(--box-shadow);
  border-radius: var(--modal-items-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

#new-game-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1vmin;
}

#new-game-container > button {
  font-size: 3vmin;
  padding: 1.5vmin;
  color: var(--accent-color);
  background: var(--primary-gradient);
  border: var(--default-primary-border);
  border-radius: var(--modal-items-border-radius);
  outline: none;
  box-shadow: var(--box-shadow);
}

#new-game-container > button:hover,
#new-game-container > button:active {
  color: var(--content-background-color);
  cursor: pointer;
  background: var(--primary-highlight-gradient);
}



#image2-container {
  
 
  font-size: var(--main-title-font-size);
  font-weight: bold;
 
  box-shadow: var(--box-shadow);
 
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  height: 50%;
  
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
   -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
       animation: fadein 4s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}